#!/bin/sh
mkdir -p /etc/nginx/htpasswd
{{ range $host, $containers := groupByMulti $ "Env.VIRTUAL_HOST" "," }}

{{ $host := trim $host }}
rm /etc/nginx/htpasswd/{{ $host }}.tmp
touch /etc/nginx/htpasswd/{{ $host }}.tmp
{{ $htpasswdplain := or (first (groupByKeys $containers "Env.VHOST_HTPASSWD_PLAIN" ) ) "" }}
{{ range $htpasswdsingle, split $htpasswdplain ";" }}

{{ $htpasswd := splitN $htpasswdsingle ":" 2 }}
{{ $htpasswduser := or (first $htpasswd) "" }}
{{ $htpasswdpass := or (last $htpasswd) "" }}
{{ if not ( (eq $htpasswduser "") and (eq $htpasswdpass "") ) }}
    echo -n "{{ $htpasswduser }}:" >> /etc/nginx/htpasswd/{{ $host }}.tmp
    openssl passwd -apr1 '{{ $htpasswdpass }}' >> /etc/nginx/htpasswd/{{ $host }}.tmp
{{ end }}

{{ end }}

{{ $vhtpasswd := or (first (groupByKeys $containers "Env.VHOST_HTPASSWD")) "" }}
{{ range $htpasswdsingle, split $vhtpasswd ";" }}
{{ if not (eq $htpasswdsingle "") }}
    echo '{{ $htpasswdsingle }}' >> /etc/nginx/htpasswd/{{ $host }}.tmp
{{ end }}
{{ end }}


if [ -s /etc/nginx/htpasswd/{{ $host }}.tmp ]
then
  rm /etc/nginx/htpasswd/{{ $host }}
  mv /etc/nginx/htpasswd/{{ $host }}.tmp /etc/nginx/htpasswd/{{ $host }}
fi
rm /etc/nginx/htpasswd/{{ $host }}.tmp

{{ end }}
nginx -s reload